<div style="margin: 30px;">
    <div><button type="button" class="btn btn-outline-primary" onclick="toggleTableP()">PENDING</button></div>

<table class="table table-hover" id="pending-table">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Brand</th>
            <th>Urgency</th>
            <th>Stuatus</th>
            <th>Delivery Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    {{#each pending}}
    <tr>
       
        <td>      <form action="/admin/projects/workingOn" method="post">
           <input type="hidden" name="caseId" value="{{this._id}}">
           <button type="submit" class="btn"> {{this.productName}}</button>
           </form>
            </td>
         <td>{{this.brand}}</td>
          <td>
             <div class="urgency" data-status="{{this.urgency}}"> . </div>
</td> 

<td>
   <div class="status" data-status="{{this.status}}" height="20px" width="20px"> .</div>

</td> 
           <td>{{this.droppOffDate}}</td>
           <td>
            <form action="/admin/projects" method="post">
            <input type="hidden" name="caseIdPending" value="{{this._id}}">
            <button type="submit" class="btn btn-primary">Accept repair</button>
            </form>
           </td>
      
    </tr>
    
    {{/each}}  
      </tbody>
</table>

</div>

<div style="margin: 30px;">
    <div><button type="button" class="btn btn-outline-primary" onclick="toggleTableW()">WORKING ON</button></div>
    <table class="table" id="working-table">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Brand</th>
            <th>Hours</th>
            <th>Calculated Price</th>
            <th>Status</th>
             <th>Action</th>
        </tr>
    </thead>
    <tbody>

    {{#each active}}
    <tr>
               <td>      <form action="/admin/projects/workingOn" method="post">
           <input type="hidden" name="caseId" value="{{this._id}}">
           <button type="submit" class="btn"> {{this.productName}}</button>
           </form>
            </td>
         <td>{{this.brand}}</td>
          <td>{{this.hours}}</td>
           <td>{{this.calculatedPrice}}</td>
<td>
                        <div class="status" data-status="{{this.status}}">{{this.status}}</div>
                    </td>
            <td>
            <form action="/admin/projects" method="post">
            <input type="hidden" name="caseIdWorking" value="{{this._id}}">
            <button type="submit" class="btn btn-primary">Close case</button>
            </form>
           </td>
    </tr>
    
    {{/each}}  
      </tbody>
</table>
</div>

<div style="margin: 30px;"> 
    <div> <button type="button"   class="btn btn-outline-primary" onclick="toggleTableC()">COMPLETED</button></div>
   <table class="table" id="closed-table">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Brand</th>
            <th>Total Price</th>
            <th>Pick up</th>
        </tr>
    </thead>
    <tbody>

    {{#each closed}}
    <tr>
                <td>      <form action="/admin/projects/workingOn" method="post">
           <input type="hidden" name="caseId" value="{{this._id}}">
           <button type="submit" class="btn"> {{this.productName}}</button>
           </form>
            </td>
         <td>{{this.brand}}</td>
          <td>{{this.totalPrice}}</td>
           <td>{{this.pickUpDate}}</td>
    </tr>
    
    {{/each}}  
      </tbody>
</table>

</div>

<script>

function toggleTableP() {
  let table = document.getElementById("pending-table");
  if (table.style.display === "none") {
    table.style.display = "table";
  } else {
    table.style.display = "none";
  }
}

function toggleTableW() {
  let table = document.getElementById("working-table");
  if (table.style.display === "none") {
    table.style.display = "table";
  } else {
    table.style.display = "none";
  }
}

function toggleTableC() {
  let table = document.getElementById("closed-table");
  if (table.style.display === "none") {
    table.style.display = "table";
  } else {
    table.style.display = "none";
  }
}

function getStatusColor(status) {
  switch (status) {
    case 0:
      return "blue";
    case 1:
      return "grey";
    case 2:
      return "yellow";
          case 3:
      return "red";
    case 4:
      return "orange";
    case 5:
      return "purple";
    case 6:
      return "red";
    default:
      return "black";
  }
}

function checkStatus(statusDiv) {
  let status = parseInt(statusDiv.dataset.status);
  let color = getStatusColor(status);
  statusDiv.style.backgroundColor = color;
}

function setInitialStatusColors() {
  let statusDivs = document.getElementsByClassName("status");
  for (let i = 0; i < statusDivs.length; i++) {
    let statusDiv = statusDivs[i];
    checkStatus(statusDiv);
    //statusDiv.innerHTML = 'TEST';
  }
}

function setInitialUrgencyColors() {
  let urgencyDivs = document.getElementsByClassName("urgency");
  for (let i = 0; i < urgencyDivs.length; i++) {
    let urgencyDiv = urgencyDivs[i];
    checkUrgency(urgencyDiv);
    //urgencyDiv.innerHTML = 'TEST';
  }
}

function checkUrgency(urgencyDiv) {
  let status = parseInt(urgencyDiv.dataset.status);
  let color = getUrgencyColor(status);
  urgencyDiv.style.backgroundColor = color;
}


function getUrgencyColor(urgency) {
  switch (urgency) {
    case 1:
      return "green";
    case 2:
      return "yellow";
    case 3:
      return "red";
}
}

setInitialStatusColors()
setInitialUrgencyColors()
</script>
